<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">En NOUS Commerce nos enfocamos en los procesos de transformación digital para PYMES, micropymes, autónomos y startups, específicamente en la integración de soluciones de comercio electrónico bajo modelos B2C (de-empresa-a-cliente) y B2B (de-empresa-a-empresa). 
NEST es nuestro brazo tecnológico y principal fortaleza del emprendimiento, que permite el despliegue ágil de soluciones de comercio electrónico para múltiples industrias; las cuales ofrecemos asociadas con servicios de Consultoría y Formación, para facilitar la inserción y operación exitosa de los negocios en el mundo virtual.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2018</h4>
                                    <h4 class="subheading">Nuestros Inicios</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Creamos un equipo técnico para asumir proyectos de desarrollos offshore; principalmente ecommerce para AAVV, que empezaban a operar sus negocios en el Caribe.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agosto 2018</h4>
                                    <h4 class="subheading">Cambio de Estrategia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Decidimos crear una núcleo tecnológico que integre los principales modelos de negocios para ecommerce, incluidos los de economía colaborativa, que permita el despliegue ágil de aplicaciones personalizadas para múltiples industrias.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Octubre 2020</h4>
                                    <h4 class="subheading">Nace la Tecnología NEST</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Inicio de la fase de pruebas beta de NEST, con el despliegue de soluciones de comercio electrónico enfocadas en la transformación digital de los negocios de nuestros primeros clientes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enero 2021</h4>
                                    <h4 class="subheading">Expansión del proyecto</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comienza el año con la vista puesta en la introducción en el mercado de nuestra solución tecnológica y la búsqueda de alianzas para la internacionalización de proyecto.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Se parte
                                    <br>de nuestra
                                    <br>historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>