<!-- Services Section -->
    <section id="areas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Áreas de Actuación</h2>
                    {% comment %} <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> {% endcomment %}
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoría</h4>
                    <p class="text-muted">encargada de los procesos de modelación, rediseño y optimización de los flujos de negocios, definición de requisitos para las soluciones a la medida y del diseño de atributos para los catálogos de productos y/o servicios que se integran en las soluciones de comercio electrónico de nuestros afiliados</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tecnología</h4>
                    <p class="text-muted">garantiza mantenimiento y evolución continua de la solución tecnológica, las aplicaciones verticales y los despliegues a la medida para los afiliados; la integración de soluciones de automatización, internet de las cosas (IoT), telecomunicaciones, experiencia de usuario, SEO, SEM y redes sociales</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formación</h4>
                    <p class="text-muted">lidera los procesos de entrenamiento y capacitación del personal de los afiliados, encargados de la operación del negocio en el mundo virtual y de la gestión de los nuevos canales de ventas en línea, integrados como parte de los procesos de transformación digital emprendidos por  dichos negocios.</p>
                </div>
            </div>
        </div>
    </section>